@keyframes pulse {
 0%{
       width: 160px; 
       clip-path: polygon(0% 0%, 100%  0%, 100% 80%, 80% 80%, 50% 80%, 0% 80%);
      }
50%{    
        width: 205px;
        clip-path: polygon(3% 0, 50% 0, 96% 0, 99% 23%, 99% 40%, 98% 54%, 96% 65%, 93% 78%, 80% 80%, 60% 80%, 36% 80%, 10% 80%, 4% 69%, 1% 54%, 0 36%, 1% 19%);
 }
 
 100%{
    width: 160px;
    clip-path: polygon(0% 0%, 100%  0%, 100% 80%, 80% 80%, 50% 80%, 0% 80%);

 }
};

@keyframes pop {
    0%{
       top:0;
      
}
    99%{
        top:-1000px;
        opacity: 0;
    }

}

@keyframes rise{
    0%{bottom: 30px;}
    20%{z-index: 0;}
    100%{bottom: 120px;z-index: 0;
    }
}


@keyframes shine{
    0%{bottom: 30px;}
    100%{
        height: 270px;
        bottom: 130px;
        width: 300px;
        left: -72px;
}
}

@keyframes showText{
    0%{bottom: 0;}
    90%{z-index: 1;}
    100%{bottom: 280px;z-index: 1;
    }
}
