@import './animations';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: orange;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .bow-row{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        position: relative;
        margin-bottom: 10px;

    .bow{
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 40px solid #0BD1C2;
        border-radius: 10px;
        position: absolute;
          &:nth-child(1){
              margin-left: 20px;
              transform: rotate(225deg);
          }
          &:nth-child(2){
            margin-right: 20px;

            transform: rotate(135deg);
        }  
    }
}

.lid{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: #ff6359;
    z-index: 2;
}

.wrap{
   position: relative;
   display: flex;
   justify-content: center;
  
    .box{
        animation: pulse 1s  ease  infinite;
        width: 160px;
        z-index: 1;
        transform-origin: ( top left);
        height: 100px;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff0000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    
        
    }

    .middle-line{
        z-index: 3;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
        height:120px;
        background-color: #03B4A7;
        position: absolute;
        content: ' ';
      }
    }
}