@import './animations';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-family: 'Roboto', sans-serif;
    background-color: orange;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .bow-row{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        position: relative;
        margin-bottom: 10px;
        
    .bow{
        width: 0;
        z-index: 4;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 40px solid #0BD1C2;
        border-radius: 10px;
        position: absolute;
          &:nth-child(1){
              margin-left: 20px;
              z-index: 20;
              transform: rotate(225deg);
          }
          &:nth-child(2){
            margin-right: 20px;
          
            transform: rotate(135deg);
        }  

        .inner-bow{
            width: 0;
            height: 0;
            z-index: 10;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 20px solid #FFA500;
            border-radius: 10px ;
            position: absolute;
            &:nth-of-type(1){
               top: 10px;
               right: -10px;
                z-index: 20;
                transform: rotate(5deg);
            }
            &:nth-of-type(2){
                top: 10px;
                right: -20px;
                 z-index: 20;
                 transform: rotate(5deg);
             }
        }
    }
}

.lid{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background: linear-gradient(to left, 
    #ff6359 20%, #ff6359 20% 40%, #2bcec3 30% 20%, 60% , #ff6359 20% 80%);
    z-index: 2;
    position: relative;
    
}

.wrap{
   position: relative;
   display: flex;
   justify-content: center;
   
  
    .box{
        animation: pulse 1.5s ease  3 ;
        animation-delay: 500ms;
        z-index: 1;
        content: " ";
        height: 150px;
        width: 160px;
        background-color: white;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff0000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
        clip-path: polygon(0% 0%, 100%  0%, 100% 80%, 80% 80%, 50% 80%, 0% 80%);
        
    }

    .pop-lid-animation{
        animation: pop 1.5s  ease  1 ;
    }

    .middle-line{
        z-index: 3;
        bottom: 30px;
        height: 80%;
        width: 36px;
        background-color: #03B4A7;
        position: absolute;
        content: ' ';
      }
    }
    .product-box{
        position: absolute;
        bottom:0px;
        z-index: -1;
        .product-img{
            width: 150px;
        }
    }
    .light-wrap{
        position: absolute;
        left: 60px;
         bottom: 30px;
         width: 40px;
        .light{
            filter: blur(8px);
            height: 100%;
          width: 100%;
         }
    }

    .product-title-wrap{
        position: absolute;
        text-align: center;
        left: -7px;
        z-index: -1;
        color: #ed3629;

        .product-title{
            font-weight: 700;
            margin-bottom: 5px;
            padding-right: 10px;
        }
        .product-text{
           
            width: 173px;
            margin-right: 20px;
            margin-top: 0px;
        }

    }
}